
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

        <div class="jumbotron">
            <h1>Guestbook</h1>
            <p class="lead">@ViewBag.Message</p>

    </div>
</body>
</html>
